*{
	
	margin: 0;
	font-family: 'Space Mono', monospace;  
}
/*div{
	height: 100vh;
}*/

.home{
	background: url(../images/landing.gif);
	background-position: center;
	background-size: cover;
	text-align: center;
	/*removes extra width of elements and places them side by side*/
	display: flex;
	/*Positioning the row axis*/
	justify-content: center;
	/*positioning the column axis*/
	align-items: center;
	height: 100vh;



}

.home>div>h1{
	color: black;

}

.btn {
	background-color: darkgray;
	color: white;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	font-size: 12px;

}

.btn:hover{
	background-color: #EA7010;
	transition: .4s;
}

.about{
	height: 100vh;
	background-color: black;
	display: flex;
}
.left{
	background: url(../images/3.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: white;
}
.right{
	background: url(../images/5.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: white;
	color: gray;
	font-size: 20px;
	text-orientation: left;
}

.small > div > img{
	height: 200px;
	width: 200px;
	border-radius: 50%;

}

.right > div{
	color:skyblue;
	text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

.third{
	background: url(../images/11.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: white;
}

.profile > div > img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

.profile{
	color: whitesmoke;
}

.fourth{
	background: url(../images/10.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

.fourth > div > img{
	height: 200px;
	width: 200px;
	border-radius: 20px;

}
.pix > img {
	transition: .4s;
}
.pix > img:hover{
	transform: scale(1.6);
}

.form > form{
	height: 60vh;
	width: 80%;
	background-color: white;
	text-align: center;
}

form > h4 {
	font-size: 50px;
	text-align: center;
	margin: 10px;
	background: url(../images/space2.jpg);
	align-items: center;
	color: white;
}

input {
	display: block;
	border: 1px solid brown;
	margin: 10px auto;
	height: 40px;
	width: 400px;
	border-radius: 10px;
}

.fifth{
	background: url(../images/car.gif);
	display: flex;
	height: 100vh;
	background-position: center;
	background-size: cover;
}

.form{
	text-align: center;
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: white;
}

textarea{
	display: block;
	border: 1px solid brown;
	margin: 10px auto;
	height: 40px;
	width: 400px;
	border-radius: 10px;
}

.thanks{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	text-align: center;
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: white;
	color: white;
	font-size: 20px
}
.fnb {
	display: flex;
	justify-content: space-between;
	background-color: black;
	height: 35px;
	align-items: center;
	position: sticky;
	top: 0px;
}
.fnb-list > li{
	margin: 0 11px;
	display: inline-block;
	color: white;
	}


.fnb > a {
	margin-left: 20px;
	padding: 50px;
	color: white;
	
}
.fnb-list > li > a{
	color: white;
}
.fnb-list {
	margin-right: 20px;
}

	